{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<title>Catalog</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
{{super()}}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}
{% block navbar %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand navbar-center" href="/">
            <span class="label label-default">PC parts Catalog</span>
          </a>
        </div>
        <div class="nav navbar-nav navbar-right " >
        	<a href="{{url_for('disconnect')}}"> 
        		<button type="button" class="btn btn-danger navbar-btn">Logout</button>
        	</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

	<article>
		<div class="article-grid">
			<div class="article-col">
				<span id="label">Categories</span>
				{% for c in categories %}
					<a href="{{url_for('showCategoryItems', category_name=c.name)}}">
						<p class="list"> {{c.name}} </p>
					</a>
				{% endfor %}
			</div>
			<div class="divider"></div>
			<div class="article-col item-col">
				<span id="label"> {{category_name}} Items</span>  	
				{% for i in items %}
					<a href="{{url_for('showItem', category_name=i.cat_name, item_name=i.name)}}">
						<p class="list">{{i.name}}</p>
					</a>
				{% endfor %}
			</div>		
		</div>
	</article>
{% endblock %}
