html body {
    background-color: #d2d2d2;
}

.navbar {
	background-color: #0d2569;
	border-radius: 0;
	border-width: 0;
    box-shadow: none;
}

.container-fluid {
	margin: 0% 10% 0% 10%;
}

.container-fluid .navbar-header .nav {
	flex: 1;
}

.flash {
	font-family: 'Rajdhani';
	color: #00ff0a;
	margin: 0% 10% 0% 10%;
	text-shadow: .1vw .1vw #000000;
	font-size: 1.5vw;
}

.article-grid {
	display: flex;
	margin: 5% 10% 5% 10%;
	background-color: #FFFFFF;
	padding: 2%;
}


.article-grid .article-col {
	flex: 1;
}

.divider {
  width: 0.1vw;
  background: #6a7c9b;
  margin-left: -40%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.item-col {
	margin-left: 7%;
}

.newItem-grid {
	display: flex;
	margin: 5% 10% 5% 10%;
	background-color: #FFFFFF;
	padding: 2%;
}

select {
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.edit {
	padding-left: 1vw;
	padding-right: 1vw;
	margin-right: 1vw; 
}

.showItem-grid {
	flex-direction: row;
	margin: 5% 10% 5% 10%;
	background-color: #FFFFFF;
	padding: 2%;
}

.deleteItem-grid {
	flex-direction: row;
	margin: 5% 10% 5% 10%;
	background-color: #FFFFFF;
	padding: 2%;
}

.login-grid {
	flex-direction: row;
	margin: 5% 10% 5% 10%;
	background-color: #FFFFFF;
	padding: 2%;
}

.buttons {
	margin-left: 50%;
}

.grid-format {
	margin: 5% 3% 5% 3%;
}

#label {
	color: #27396d;
	font-family: 'Rajdhani';
	font-size: 2.8vw;
	font-weight: 1000;
	text-shadow: .1vw .1vw #d4e0f3;
}

#new-item-label {
	color: #0d2569;
	font-family: 'Rajdhani';
	font-size: 2.8vw;
	font-weight: 1000;
	text-shadow: .1vw .1vw #b0d6df;
	text-align: center;
}

.list {
	list-style-type: none;
	font-family: 'Rajdhani';
	font-size: 1.5vw;
	font-weight: 800;
	color: #bb5903;
	padding: 0% 0% 0% 2%;
}

.category {
	list-style-type: none;
	font-family: 'Rajdhani';
	font-size: 1.3vw;
	color: #7e817b;
	text-align: center;
}

.btn-update{
	margin-left: 33%;
	margin-top: -2%;
}
